.root-sub {
   background-color: #f8f8f8;
}

.album-page {
   height: 700px;
   margin: 0 auto 40px;
   width: 975px;
   // width: 814px;
   border: 1px solid rgba(0,0,0,0.1);
   border-top: none;
   background-color: white;
   padding: 0 0 80px;
   // padding-top: 25px;
}

.album-content{
  display: flex;
  flex-direction: row;
//   justify-content: space-between;
  width: 100%;
}

.album-left{
   display: flex;
   flex-direction: column;
   padding-left: 27px;
   width: 380px;
   height: 100%;
   // float: left;
}

.album-right{
   display: flex;
   flex-direction: column;
   padding-left: 27px;
   width: 380px;
   height: 100%;
   // float: right;
}

.album-cover {
   background-position: 50% 50%;
   margin-bottom: 18px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.album-shell {
   height: 350px;
   width: 350px;
}

.album-title {
  font-size: 28px;
  margin-top: 5px;
}

.album-artist {
   padding-top: 5px;
   font-size: 14px;
}

.album-genre {
   font-size: 12px;
}

.album-byline, .player{
   margin-bottom: 25px;
}

.album-track-item {
   font-size: 12px;
   color: #363636;
   margin: 12px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
}

.album-track-left {
  display: flex;
}

.album-track-btn {
   width: 19px;
   height: 18px;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 9px;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   border-radius: 2px;
   cursor: pointer;
}

.playpause-list-icon {
    font-size: 9px;
}

// ***** audio player *****

.play-pause-btn {
   height: 52px;
   width: 56px;
   border: 1px solid #d9d9d9;
   margin-right: 10px;
   background: #fff;
   outline: none;
   cursor: pointer;
}

.playpause-icon {
  font-size: 20px;
}
 
.player-controls {
  display: flex;
  width: 380px;
}

.slider-container {
  width: 250px;
}

.slider {

  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: 1px solid darkgray;
  background-color: #9c9c9ca3;
  outline: none;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 27px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid darkgray;
}

.slider::-moz-range-thumb {
    width: 27px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid darkgray;
      border-radius: 0;
}


.slider::-moz-range-track {
  background:transparent;
  border:0px;

}

.progress-bar {
  width: 250px;
  height: 10px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  position: relative;
}

.progress-slider {
  width: 24px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  background: #fff;
  border-radius: 1px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
//   left: 100px;
}

.progress-buffer{
   position: absolute;
   height: 8px;
   background: #f6f6f6;
   background-color: rgba(0,0,0,.04);
}

.player-bottom {
  display: flex;
  align-items: center;
  position: relative;
}

.prev-next-btn {
  font-size: 14px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  color: #000;
}


// ************************


.discog-artwork {
   width: 120px;
   height: 120px;
   object-fit: cover;
   display: block;
   margin-bottom: 8px;
}

.artist-photo {
   width: 120px;
   height: 80px;
   object-fit: cover;
   display: block;
   margin-bottom: 8px;
}

.band-image-wrap {
   height: 180px;
   margin-bottom: 44px;
   border-bottom: solid #e5e5e5 1px;
}

.band-image-link {
   display: block;
   height: 100%;
}

.band-image {
   height: 180px;
   width: 100%;
   object-fit: cover;
   object-position: 50% 22%;
}