.album-page-wrap {
   background-color: #f8f8f8;
   padding-bottom: 40px;
   width: 100%;
   min-height: 100%;
   position: absolute;
}

.album-page {
   // height: 700px;
   margin: 0 auto 80px;
   width: 975px;
   // width: 814px;
   border: 1px solid rgba(0,0,0,0.1);
   border-top: none;
   background-color: white;
   padding: 0 0 80px;
   // padding-top: 25px;
}

.album-content{
   display: flex;
   flex-direction: row;
//   justify-content: space-between;
   width: 100%;
   padding: 0 30px 0;
   box-sizing: border-box;
}

.album-left{
   display: flex;
   flex-direction: column;
   // padding-left: 27px;
   width: 376px;
   height: 100%;
   // float: left;
}

.album-right{
   display: flex;
   flex-direction: column;
   padding-left: 30px;
   width: 350px;
   height: 100%;
   // float: right;
}

.album-cover {
   background-position: 50% 50%;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.album-shell {
   height: 350px;
   width: 350px;
}

.album-title {
   font-size: 28px;
   margin: -3px 0 8px;
   color: #363030;
}

.album-artist {
   font-size: 14px;
   color: #363030;
}

.artist-discog-link {
   text-decoration: none;
   color: #00238A;
}

.artist-discog-link:hover {
   text-decoration: underline;
}

.album-genre {
   font-size: 12px;
}

.player{
   margin: 24px 0 24px;
}

.album-track-item {
   font-size: 12px;
   color: #363030;
   padding-bottom: 12px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.album-track-wrap {
  display: flex;
}

.album-track-item:hover .album-track-dl {
  visibility: visible;
  opacity: 1;
}

.album-track-dl {
   text-decoration: none;
   visibility: hidden;
   opacity: 0;
   transition: visibility 0.05s, opacity 0.05s linear;
   color: #00238A;
}

.album-track-dl:hover {
   text-decoration: underline, 
}

.album-track-btn {
   width: 19px;
   height: 18px;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   border-radius: 2px;
   cursor: pointer;
}

.album-track {
   margin-top: 3px;
   padding-right: 2px;
   color: #50494B;
}

.playpause-list-icon {
    font-size: 7px;
    margin-left: 1px;
    color: #363030;
}

.playpause-list-icon:hover {
   color: rgba(0,212,255,1);
}

.album-description {
   font-size: 12px;
   line-height: 1.25em;
   margin-top: 12px;
   color: #363030;
}

// ***** audio player *****

.play-pause-btn {
   height: 52px;
   width: 56px;
   border: 1px solid #d9d9d9;
   border-radius: 2px;
   margin-right: 10px;
   background: #fff;
   outline: none;
   cursor: pointer;
}

.playpause-icon {
  font-size: 20px;
  margin-left: 3px;
  color: #363030;
}

.playpause-icon:hover {
   color: rgba(0,212,255,1);
}
 
.player-controls {
  display: flex;
  width: 380px;
}

.slider-container {
  width: 250px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: 1px solid darkgray;
  background-color: #9c9c9ca3;
  outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 27px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid darkgray;
}

.slider::-moz-range-thumb {
    width: 27px;
    height: 15px;
    background-color: white;
    cursor: pointer;
    border: 1px solid darkgray;
      border-radius: 0;
}


.slider::-moz-range-track {
  background:transparent;
  border:0px;

}

.progress-bar {
   width: 250px;
   height: 10px;
   box-sizing: border-box;
   border: 1px solid #d9d9d9;
   border-radius: 1px;
   position: relative;
}

.progress-slider {
  width: 24px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  background: #fff;
  border-radius: 1px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
//   left: 100px;
}

.progress-buffer{
   position: absolute;
   height: 8px;
   background: #f6f6f6;
   background-color: rgba(0,0,0,.04);
}

.player-right {
   width: 310px;
}

.player-top {
   font-size: 12px;
   margin-top: 10px;
   margin-bottom: 8px;
}

.track-player-title {
   font-weight: 500;
   padding-right: 0.7em;
   color: #363030;
}

.track-player-time {
   color: #50494B;;
}

.player-bottom {
  display: flex;
  align-items: center;
  position: relative;
}

.prev-next-btn {
   font-size: 12px;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   color: #363030;
   transform: scale(1.4, 1);
}

.prev-next-btn:hover {
   color: rgba(0,212,255,1);
}

.prev-next-btn:disabled {
   color: #c7c7c7;
   cursor: default;
}

.prev {
   margin-left: 15px;
}

.next {
   margin-left: 18px;
}


// ************************

.album-aside {
   width: 120px;
   padding-left: 39px;
}

.discog-artwork {
   width: 120px;
   height: 120px;
   object-fit: cover;
   display: block;
   // margin-bottom: 8px;
}

.discog-album-name {
   margin: 0.5em 0 1em;
   overflow: hidden;
   text-overflow: ellipsis;
   display: block;
   font-size: 12px;
   color: #00238A;
   line-height: 1.25em;
   text-decoration: none;
}

.discog-album-name:hover {
   text-decoration: underline;
}

.artist-photo {
   width: 120px;
   height: 80px;
   object-fit: cover;
   display: block;
   margin-bottom: 14px;
}

.artist-name {
   font-size: 14px;
   font-weight: bold;
   border-top: 0;
   margin: 0 0 3px;
   display: block;
   color: #363030;
}

.artist-location {
   font-size: 12px;
   color: #50494B;
   display: block;
   line-height: 1.25em;
   margin: 0 0 12px;
}

.artist-flw-btn {
   font-size: 12px;
   width: 100%;
   border-radius: 3px;
   font-weight: bold;
   padding: 6px 5px 5px 5px;
   line-height: 1.25em;
   margin-bottom: 12px;
   outline: none;
   cursor: pointer;
}

.follow {
   border: solid 1px #c6c6c6;
   color: #00238A;
}

.follow:hover span {
   text-decoration: underline;
}

.unfollow {
   border: solid 1px #619aa9;
   background: #619aa9;
   color: #fff;
}

.unfollow:hover span {
   display: none
}

.unfollow:hover:before {
   content: "Unfollow"
}

.artist-about {
   font-size: 12px;
   line-height: 1.25em;
   color: #363030;
   word-wrap: break-word;
   margin-top: 0;
   margin-bottom: 1em;
   display: block;
}

.artist-page-link {
   font-size: 12px;
   display: block;
   line-height: 1.25em;
   margin: 0 0 21px;
   text-decoration: none;
   color: #00238A;
   word-wrap: break-word;
}

.artist-page-link:hover {
   text-decoration: underline;
}

.artist-discog-title {
   font-size: 14px;
   font-weight: normal;
   margin: 0 0 1.25em;
   color: #363030;
}

.band-image-wrap {
   height: 180px;
   margin-bottom: 44px;
   border-bottom: solid #e5e5e5 1px;
}

.band-image-link {
   display: block;
   height: 100%;
}

.band-image {
   height: 180px;
   width: 100%;
   object-fit: cover;
   object-position: 50% 22%;
}

//******************************

.album-collect-wrap {
   margin: 15px 0 7px;
}

.album-collect-btn {
   font-size: 13px;
   font-weight: bold;
   cursor: pointer;
}

.album-collect-icon-wrap {
   margin-right: 8px;
}

.album-collect-icon.fas {
   color: #ff9c00;
   font-size: 13px;
}

.album-collect-icon.far {
   color: #959595;
   font-size: 13px;
}

.album-collect-text {
   color: #00238A;
   text-decoration: none;
}

.album-collect-text:hover {
   text-decoration: underline;
}

.album-collect-link-wrap {
   font-size: 12px;
   cursor: pointer;
}

.album-collect-dash {
   color: #363030;
}

.album-collect-link {
   text-decoration: none;
   color: #00238A;
}

.album-collect-link:hover {
   text-decoration: underline;
}