.featured-container {
   // display: block;
   // margin: auto;
   // height: 540px;

   height: 0;
   padding-bottom: 37.84%; /* 16:9 */
   position: relative;
}

.featured-albums {
   // display: flex;
   // height: 540px;

   position: absolute;
   top: 0; left: 0;
   width: 100%; height: 100%;
}

.big-feature {
   // display: block;
   // position: absolute;
   top: 0;
   // width: 100%;
   // height: 100%;
   // text-decoration: none;
   // color: inherit;
   
   background: brown;
   height: 100%;
   width: 74%;
   background-size: cover;
   background-position: center;

   //  display: flex;
   //  justify-content: center;
   //  align-items: center;
   //  overflow: hidden
   // background: black;
}

.big-feature image {
   background-size: cover;
//    min-width: 100%;
// min-height: 100%;
// width: auto;
// height: auto;
}

.small-features {
   // display: inline-block;
   //  box-sizing: border-box;
   //  width: 26%;
   //  /* float: left; */
   //  list-style: none;
   //  padding: 0 0 0 2px;
   //  margin: 0;
   //  overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
   //  opacity: 1;
   //  transform: none;
   //  transition: transform 0.2s ease-in, opacity 0.2s ease-in;

   height: 100%;
   width: 26%;
   // position: absolute;
}

.fet{
   display: flex;
   width: 100%;
   height: 33.33333%;
   flex-direction: column;
   justify-content: flex-end;
}

.a {
   background: brown;
}

.b {
   background: brown;
}

.c {
   background: brown;
}

.intro-tag {
   position: absolute;
   bottom: 0;
}

.large-feature-link {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  transition: opacity 0.1s linear;
  position: relative;
  height: 100%;
  width: 100%;
}

.large-feature-details {
   background-size: cover;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   position: relative;
   background-position: 50% 0%; 
}

.large-feature-title {
   font-size: 32px;
   font-size: 4vw;
   // font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: black 1px 0 2px;
  position: absolute;
  padding-left: 10px;
//   padding-bottom: 3px;
  top: 73%;  
}

.large-feature-band {
   font-size: 20px;
   font-size: 3vw;
   // font-size: 2rem;
   color: white;
   text-shadow: black 1px 0 2px;
   position: absolute;
   padding-left: 10px;
   // padding-bottom: 5px;
   top: 85%;  
}


.small-feature-link {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  transition: opacity 0.1s linear;
  position: relative;
  height: 100%;
  width: 100%;
}

.small-feature-details {
   background-size: cover;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   position: relative;
   background-position: 50% 30%; 
}

.small-feature-title {
   font-size: 32px;
   font-size: 1.25vw;
   // font-size: 2rem;
  font-weight: bold;
  color: white;
  text-shadow: black 1px 0 2px;
  position: absolute;
  padding-left: 10px;
//   padding-bottom: 3px;
  top: 73%;  
}

.small-feature-band {
   font-size: 20px;
   font-size: 1.1vw;
   // font-size: 2rem;
   color: white;
   text-shadow: black 1px 0 2px;
   position: absolute;
   padding-left: 10px;
   // padding-bottom: 5px;
   top: 85%;  
}

.small-feature-details:hover, .large-feature-details:hover {
   opacity: .90;
}

.intro-tag{
   font-weight: bold;
   background-color: black;
   color: white;
   align-self: center;
   padding: 5px;
}