.featured-wrap {
   background-color: #222222;
   max-height: 540px;
}

.featured-container {
   // display: block;
   // margin: auto;
   // height: 540px;

   height: 0;
   padding-bottom: 37.84%; /* 16:9 */
   position: relative;
   max-width: 1440px;
   left: 50%;
   transform: translateX(-50%)
}

.featured-albums {
   // display: flex;
   // height: 540px;

   position: absolute;
   top: 0; 
   left: 0;
   width: 100%; 
   height: 100%;
   max-height: 540px;
}

.big-feature {
   // display: block;
   // position: absolute;
   top: 0;
   // width: 100%;
   // height: 100%;
   // text-decoration: none;
   // color: inherit;
   
   background: brown;
   height: 100%;
   width: 74%;
   background-size: cover;
   background-position: center;

   //  display: flex;
   //  justify-content: center;
   //  align-items: center;
   //  overflow: hidden
   // background: black;
}

.big-feature image {
   // don't think i need this
   // background-size: cover;

//    min-width: 100%;
// min-height: 100%;
// width: auto;
// height: auto;
}

.small-features {
   // display: inline-block;
   //  box-sizing: border-box;
   //  width: 26%;
   //  /* float: left; */
   //  list-style: none;
   //  padding: 0 0 0 2px;
   //  margin: 0;
   //  overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
   //  opacity: 1;
   //  transform: none;
   //  transition: transform 0.2s ease-in, opacity 0.2s ease-in;

   height: 100%;
   width: 26%;
   // position: absolute;
}

.fet{
   display: flex;
   width: 100%;
   height: 33.33333%;
   flex-direction: column;
   justify-content: flex-end;
   box-sizing: border-box;
   border-left: #222 2px solid;
}

.a {
   background: brown;
   border-bottom: #222 1px solid;
}

.b {
   background: brown;
   border-top: #222 1px solid;
   border-bottom: #222 1px solid;
}

.c {
   background: brown;
   border-top: #222 1px solid;
}

.intro-tag {
   position: absolute;
   bottom: 0;
}

.large-feature-link {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  transition: opacity 0.1s linear;
  position: relative;
  height: 100%;
  width: 100%;
}

.large-feature-details {
   background-size: cover;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   position: relative;
   background-position: 50% 0%; 
}

.large-feature-title {
   font-size: clamp(10px, 4vw, 45px);
   font-weight: bold;
   position: absolute;
   padding-left: 30px;
   top: 72%;
}

.large-feature-band {
   font-size: clamp(10px, 3vw, 30px);
   position: absolute;
   padding-left: 30px;
   top: 85%;
   text-transform: uppercase;
}


.small-feature-link {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  transition: opacity 0.1s linear;
  position: relative;
  height: 100%;
  width: 100%;
}

.small-feature-details {
   background-size: cover;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   position: relative;
   background-position: 50% 30%; 
}

.small-feature-title {
   font-size: clamp(1px, 1.25vw, 18px);
   font-weight: bold;
   position: absolute;
   padding-left: 10px;
   top: 70%;  
}

.small-feature-band {
   font-size: clamp(1px, 1.1vw, 13px);
   position: absolute;
   padding-left: 10px;
   top: 85%;
   text-transform: uppercase;
}

.small-feature-details:hover, .large-feature-details:hover {
   opacity: .90;
}

.intro-tag{
   font-weight: bold;
   background-color: black;
   color: white;
   align-self: center;
   padding: 5px;
}

.home-page-separator{
   font-size: 18px;
   line-height: 24px;
   padding: 36px 0 36px;
   position: relative;
   text-align: center;
   font-weight: 400;
   font-family: Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   background: #ECECEC;
}

.banner-bold {
   font-weight: 600;
}

.notable-container {
   padding: 36px 0;
   margin: 0 auto;
   width: 1230px;
   // width: 1106px;

}

.notable-title {
   font-size: 16px;
   color: #408ea3;
   padding: 0 0 40px 0;
   font-family: Helvetica, Arial, sans-serif;
}

.font {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   text-shadow: 0px 0px 5px black;
   color: white;
   letter-spacing: .07vw;
}

// "HelveticaNeue-Light", "Helvetica Neue Light", 