body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: light;
   // letter-spacing: -4px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.session-form {
   width: 500px;
   background-color: white;
   box-sizing: border-box;
   padding: 0;
   font-size: 16px;
   border-radius: 6px;
   font-family: 'Open Sans', sans-serif;
}

.session-form h1 {
   // display: flex;
   // align-items: baseline;
   font-size: 18px;
   box-sizing: border-box;
   text-align: center;
   width: 100%;
   display: block;
   background-color: #f5f5f5;
   border-bottom: 1px solid #ededed;
   margin: 0;
   padding: 8px 20px 8px;
   font-weight: 400;
   border-radius: 6px 6px 0 0;
   cursor: default;
}

.close-form {
   // display: flex;
   // align-items: baseline;
   font-size: 100%;
   // font-family: inherit;
   font-family: 'Open Sans', sans-serif;
   border: none;
   outline: none;
   padding: 0;
   position: absolute;
   top: 10px;
   right: 20px;
   font-size: 24px;
   line-height: 1;
   cursor: pointer;
   color: #aaa;
   text-decoration: none;
   background: none;
}

.close-form:hover {
   color: #222;
}


.signup-form {
   box-sizing: border-box;
   padding: 20px 0 0 0;
}

.session-inputs {
   box-sizing: border-box;
   padding: 17px 80px 0 80px;
}

.session-form label {
   display: block;
   text-align: left;
   font-weight: 400;
   margin-top: 20px;
   font-size: 14px;
}

.session-form input {
   box-sizing: border-box;
   display: block;
   width: 100%;
   font-weight: 400;
   border: 1px solid #ccc;
   padding: 4px 10px 4px 10px;
   height: 35px;
   font-size: 14px;
}

.session-form label:first-of-type {
   margin-top: 0;
}

.session-form input[type="submit"] {
   background-color: #00a1c6;
   text-align: center;
   border-radius: 4px;
   width: 100%;
   border: none;
   font-size: 16px;
   color: white;
   margin-top: 30px;
   outline: none;
   cursor: pointer;
   font-weight: bold;
}
.session-form input[type="submit"]:hover {
   text-decoration: underline;
}

.session-footer {
   color: #818285;
   margin-top: 20px;
   font-size: 12px;
   text-align: center;
   padding: 0;
}

.session-footer:last-of-type {
   margin-top: 10px;
   padding-bottom: 20px;
}

.account-form{
   height: 400px;
   box-sizing: border-box;
   padding: 0 40px;
}

.signup-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   height: 50%;
   box-sizing: border-box;
   color: #818285;
}

.signup-row:first-of-type {
   border-bottom: 1px solid #d7d8d7;
}

.signup-row .fas {
    font-size: 100px;
    text-align: center;
}

.fa-headphones {
   color: #02abcd;
}

.fa-guitar {
   color: #799f43;
}

.signup-option {
   display: flex;
   flex-direction: column;
   width: 280px;
}

.signup-text {
   padding-top: 18px;
   margin: 0;
   font-size: 12px;
   line-height: 1.5;
}

.signup-link {
   background-color: white;
   border-radius: 4px;
   width: 100%;
   border: none;
   font-size: 16px;
   margin-top: 30px;
   font-weight: 400;
   text-decoration: none;
   height: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   outline: none;
   cursor: pointer;
}

.signup-link:hover {
   text-decoration: underline;
}

.fan-link{
   color: #02abcd;
   border: 1px solid #02abcd;
}

.artist-link{
   color: #799f43;
   border: 1px solid #799f43;
}

.session-footer-button {
   border: none;
   background: none;
   font-size: inherit;
   text-decoration: none;
   color: #00a1c6;
   padding: 0;
   outline: none;
   cursor: pointer;
}

.session-footer-button:hover {
   // text-decoration: underline;
}