html, body, div {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   // font-weight: light;
}

.logo {
   height: 36px;
   // display: inline-block;
   // float: left;
   margin-top: 12px;
   margin-bottom: 10px;
   // margin-left: 5px;
   cursor: pointer;
}

#nav-bar {
   position: sticky;
   width: 100%;
   top: 0;
   z-index: 1;
}

.nav-bar-row {
   // height: 44px;
   // background-color: #ECECEC;
   // border-top: solid 5px #848484;
   border-bottom: solid #afafaf 1px;
   height: 60px;
   // box-shadow: 0px 1px #EEE;
   // background-color: #ffffff;
   // background: rgb(2,0,36);
   // background: linear-gradient(260deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   // background: linear-gradient(260deg, #6046FE 0%, #1DA0C3 100%);
   background-color: #ECECEC;;
   top: 0;
   transition: top .25s ease-out;
}

// background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);

.nav-content {
    box-sizing: border-box;
   //  width: 90%;
    min-width: 0;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding-left: 25px; 
    padding-right: 15px; 
    justify-content: space-between;
    align-items: center;
}

.nav-login {
   border: none;
   background: none;
   font-size: inherit;
   text-decoration: none;
   color: #161113;
   padding: 5px;
   outline: none;
   cursor: pointer;
   font-weight: bold;
}

.nav-login:hover {
   // color: white;
   color: rgba(0,212,255,1);
}


// .icon {
   // border: none;
   // background: none;
   // font-size: inherit;
   // text-decoration: none;
   // outline: none;
   // cursor: pointer;
   // padding: 100;
// }

.nav-element {
   margin-right: 20px;
}

.nav-icon:hover {
   // color: white;
   color: rgba(0,212,255,1);
   cursor: pointer;
}

.nav-icon {
   cursor: pointer;
   width: 30px;
   font-size: 20px;
   text-align: center;
   position: relative;
   color: black;
}

.right-side-nav {
   list-style: none;
    display: flex;
    align-items: center;
}

.logout-dropdown{
   position: absolute;
   box-sizing: border-box;
   // background: linear-gradient(260deg, #6046FE 100%, #1DA0C3 100%);
   background: #ECECEC;
   // text-align: left;
   border: #EEE 1px solid;
   font-size: 15px; 
   display: block;
   width: 90px;
   color: black;
   // color: white;
   box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
   line-height: 32px;
   border-radius: 5px;
   top: 40px;
   left: -25px;
   outline: none;
   cursor: pointer;
}

.logout-dropdown:hover {
   background: linear-gradient(260deg, #7b67ff 100%, #1DA0C3 100%);
   color: white;
}