  
.profile-banner{
   width: 100%;
   height: 100px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 22%;
   position: relative;
}

.user-image{
   width: 100px;
   height: 100px;
   background-size: cover;
   background-repeat: no-repeat;
   // background-position: 50% 22%;
   position: relative;
}
