
.profile-main-wrap {
   width: 100%;
   min-height: 100%;
   position: absolute;
   background-color: white;
}

.profile-main {
   background-color: #ffffff;
}

.profile-banner {
   width: 100%;
   height: 100px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 22%;
   position: relative;
}

.disabled {
   opacity: 0.5;
}

// .profile-content {
//    margin: 0 auto;
// }

// @media (max-width: 980px) { .profile-content { width: 736px; } }
// @media (min-width: 980px) { .profile-content { width: 986px; } }
// @media (min-width: 1232px) { .profile-content { width: 1235px; } }

.edit-top {
   border-bottom: 1px solid #e4e4e4;
   background-color: #fbfbfb;
   margin-bottom: 40px;
}

.user-about {
   // margin: 0 10.5px;
   margin: 0 auto;
   padding-bottom: 14px;
   position: relative;
}

@media (max-width: 980px) {
   .user-about {
      width: 714px;
      padding-bottom: 0px;
   }
   .user-tabs-wrap { width: 714px; }
   .user-grid-wrap { width: 736px; }
}
@media (min-width: 980px) { 
   .user-about { width: 965px; }
   .user-tabs-wrap { width: 965px; }
   .user-grid-wrap { width: 986px; }
}
@media (min-width: 1232px) { 
   .user-about { width: 1214px; }
   .user-tabs-wrap { width: 1214px; }
   .user-grid-wrap { width: 1234px; }
   .user-grid { width: 1256px; }
}

.user-image {
   display: inline-block;
   width: 210px;
   height: 210px;
   margin: -30px 38px 8px 0px;
   outline: 1px solid rgba(0,0,0,0.05);
   outline-offset: -1px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50%;
   position: relative;
}

@media (max-width: 980px) {
  .user-image {
    width: 160px;
    height: 160px;
    margin-right: 24px;
  }
}

///////////////////
//user-info

@media (max-width: 980px) { 
   .user-info { width: 510px; }
   .profile-input-area { width: 510px }
   .info-top-line { width: 510px; }
   .wide { display: none; }
   // putting the parent element first lets the media query override
   .user-about .info-about { margin: 16px 0 0 0; }
   .edit-website { margin-top: 20px; }
   .edit-info .edit-website input { width: 304px }
}
@media (min-width: 980px) { 
   .user-info { width: 698px; }
   .profile-input-area { width: 698px; }
   .info-top-line { width: 698px; }
   .skinny { display: none; }
}
@media (min-width: 1232px) { 
   .user-info { width: auto; }
   .profile-input-area { width: auto; }
   .info-top-line { width: 718px; }
   .wide { width: 718px; }
   .skinny { display: none; }
}

.user-info {
   display: inline-block;
   margin-top: 18px;
   margin-right: 15px;
   vertical-align: top;
}

.info-top-line {
   margin: 0 0 8px;
}

.user-name {
   margin: 0 20px 0 0;
   vertical-align: bottom;
   font-size: 30px;
   display: inline-block;
   font-weight: bold;
   color: #333333
}

.info-location {
   margin-top: 11px;
   display: block;
   color: #333333;
   font-size: 13px;
   line-height: 16px;
}

.info-location span {
   display: inline-block;
   color: #828282;
   margin: 4px 0;
}

.info-about {
   font-size: 15px;
   line-height: 22px;
   margin: 8px 0 0 0;
   color: #333333;
}

.info-website {
   font-size: 15px;
   line-height: 22px;
   color: #333333;
}

.info-website a {
   color: rgb(0,161,198);
   text-decoration: none;
   cursor: pointer;
}

.info-website a:hover {
   text-decoration: underline;
}

.user-btn-wrap {
   display: inline-block;
   vertical-align: top;
   margin-top: 4px;
}

.user-edit-btn {
   border: 1px solid #939497;
   border-radius: 5px;
   outline: none;
   background: white;
   color: #828282;
   font-weight: 500;
   padding: 5px 9px;
   font-size: 11px;
   line-height: 15px;
   text-transform: uppercase;
   display: inline-block;
   cursor: pointer;
}

.user-edit-btn span {
   text-decoration: none;
   vertical-align: middle;
   font-size: 13px;
   font-weight: 500;
}


.user-edit-btn span:hover {
   text-decoration: underline;
}

.edit-icon {
   margin-right: 4px;
   vertical-align: text-top;
   font-size: 14px;
}

///////////////////

.user-tabs-wrap {
   margin: 0 auto;
}

.user-tabs {
   display: flex;
   border-bottom: 1px solid #ddd;
   font-weight: 600;
   font-size: 15px;
   // margin-top: 20px;
   // margin: 0 10.5px;


   // list-style: none;
   //  padding: 0;
   //  margin: 0 auto;
   //  border-bottom: 1px solid #ddd;
   //  font-size: 0;
}

.user-tabs > li {
   // padding: 10px 20px;
   margin-top: 13px;
   margin-bottom: -1px;
}

.user-tabs a {
   padding: 10px 20px;
   color: #00A1C6;
   display: block;
   text-decoration: none;
}

.user-tabs a:hover {
//   text-decoration: none;
  border-bottom: 2px solid #00A1C6;
}

.user-tabs .active {
  border-bottom: 2px solid #333333;
  color: #333333;
  cursor: default;
}

.hide-link {
   display: none;
}

.total {
   font-weight: 400;
   padding-left: 5px;
}

.user-grid-wrap {
   // margin-top: 16px;
   // margin-bottom: 160px;
   margin: 16px auto 160px;
}

.user-grid {
   // font-size: 0;
   margin-left: -10px;
   margin-right: -10px;
}

.user-grid li {
   display: inline-block;
}

.collect-li {
   font-size: 12px;
   vertical-align: top;
   position: relative;
   border: solid 1px transparent;
   word-wrap: break-word;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0 10px 15px 11px;
   list-style-type: none;
   padding: 0px;
   width: 230px;
   min-height: 360px;
   // min-height: 320px;
}

.collect-li:hover {
   -moz-transition: border 0.1s ease-out;
   -webkit-transition: border 0.1s ease-out;
   transition: border 0.1s ease-out;
   border: dotted 1px #ccc;
}

.follow-li {
   width: 218px;
   margin: 13px 0 42px 21px;
}
////////////////////

.empty-grid {
   min-height: 120px;
   margin-top: 56px;
   text-align: center;
   font-size: 14px;
   font-style: italic;
}

.empty-grid a {
   display: block;
   border: 1px solid rgb(0,161,198);
   color: rgb(0,161,198);
   width: 290px;
   margin: 0 auto;
   margin-top: 0px;
   font-style: normal;
   font-weight: bold;
   padding: 19px 0;
   font-weight: 500;
   font-size: 15px;
   border-radius: 6px;
   margin-top: 22px;
   text-decoration: none;
   cursor: pointer;
}

.empty-grid a:hover {
   text-decoration: underline;
}

///////////////////////

.collect-links-wrap {
   display: block;
   margin: 9px 9px 35px;
}

.album-cover-collect {
   width: 210px;
   height: 210px;
   object-fit: cover;
   object-position: 50% 50%;
   margin-bottom: 10px;
   outline: 1px solid rgba(0,0,0,0.05);
   outline-offset: -1px;
}

.collect-tag-link {
   color: #505958;
   text-decoration: none;
   cursor: pointer;
}

.collect-tag-link:hover {
   text-decoration: underline
}

.collect-name {
   font-size: 14px;
   line-height: 16px;
   font-weight: bold;
   margin-bottom: 2px;  
}

.collect-artist {
   font-size: 1em;
   margin-bottom: 10px;
}

.collect-details-wrap {
   margin: 9px;
}

.collect-btn-wrap {
   visibility: hidden;
   margin-bottom: 13px;
}

.collect-li:hover .collect-btn-wrap {
   visibility: visible;
   -moz-transition: visibility 0.1s ease-out;
   -webkit-transition: visibility 0.1s ease-out;
   transition: visibility 0.1s ease-out;
}

///////////////
///start here  
.pfl-collect-btn {
   font-size: 12px;
   font-weight: normal;
   cursor: pointer;
}

.pfl-collect-icon-wrap {
   padding-right: 0.45em;
}

.pfl-collect-icon.fas {
   color: #ff9c00;
   font-size: 12px;
}

.pfl-collect-icon.far {
   color: #959595;
   font-size: 12px;
}

.pfl-collect-text {
   color: #00A1C6;
   text-decoration: none;
}

.pfl-collect-text:hover {
   text-decoration: underline;
}

.pfl-collect-dot {
   font-size: 12px;
   color: #999999;
   padding: 0 0.25em;
}

.pfl-collect-link {
   text-decoration: none;
   color: #00A1C6;
}

.pfl-collect-link:hover {
   text-decoration: underline;
}

.collect-count {
   font-size: 12px;
   color: #999999
}

.collect-count span {
   color: #505958;
   cursor: default;
}

.collect-count span:active {
   text-decoration: underline;
}

///////////////

.follow-img {
   display: inline-block;
   flex-shrink: 0;
   height: 70px;
   outline: 1px solid rgba(0,0,0,0.05);
   outline-offset: -1px;
}

.follow-img > a {
   text-decoration: none;
   cursor: pointer;
}

.follow-img img {
   height: 70px;
   width: 70px;
   object-fit: cover;
   object-position: 50% 50%;
}

.follow-info {
   margin-left: 13px;
   vertical-align: top;
   width: 154;
   min-height: 55px;
   display: inline-flex;
   flex-direction: column;
   justify-content: space-between;
}

.follow-username {
   color: #333333;
   font-weight: bold;
   font-size: 14px;
   width: 135px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   flex-grow: 1;
   display: block;
   text-decoration: none;
   cursor: pointer;
}

.follow-username:hover {
   text-decoration: underline;
}

.follow-location {
   color: #828282;
   font-size: 11px;
   flex-grow: 6;
   padding: 3px 0;
   width: 135px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: block;
}

.follow-info-btn {
   margin-top: 2px;
}

.profile-flw-btn {
   border: 1px solid rgb(0,161,198);
   border-radius: 5px;
   outline: none;
   background: white;
   color: rgb(0,161,198);
   font-weight: bold;
   text-transform: uppercase;
   // padding: 8px 6px 7px 6px;
   padding: 7px 6px 6px 6px;
   font-size: 11px;
   min-width: 88px;
   line-height: 14px;
   align-self: flex-start;
   cursor: pointer;
}

.p-follow:hover span {
   text-decoration: underline;
}

.p-unfollow {
   border: 1px solid rgba(255,255,255,0);
   // padding: 8px 9px 7px 0;
   padding: 7px 9px 6px 0;
   color: #828282;
}

.p-unfollow:hover {
   border: 1px solid #939497;
   // padding: 8px 10px 7px 10px;
   padding: 7px 10px 6px 10px;
}

.p-unfollow:active {
   text-decoration: underline;
}

.p-unfollow:hover span, .p-unfollow:hover i{
   display: none
}

.p-unfollow:hover:before {
   content: "Unfollow";
}

.plus {
   padding-right: 7px;
}

.check {
   padding-right: 6px;
}

.thats-you {
   cursor: default;
   border: 1px solid rgba(255,255,255,0);
   color: #828282;
   // padding: 8px 9px 7px 0;
   padding: 7px 9px 6px 0;
   min-width: 88px;
}

.thats-you:active {
   text-decoration: underline;
}

////////////////////
//profile edit form

.profile-edit-form {
   display: inline-block;
   vertical-align: top;
   color: #333333;
}

.profile-input-area {
   display: inline-block;
   margin-top: 18px;
   margin-right: 15px;
}

.edit-info {
   margin-top: 26px;
}

.edit-location {
   margin-right: 18px;
   display: inline-block;
   vertical-align: top;
}

.edit-website {
   display: inline-block;
   vertical-align: top;
}

.edit-about {
   margin-top: 20px;
}

.hint {
   color: #929292;
   font-size: 12px;
   font-weight: 500;
   margin-bottom: 6px;
   display: block;
}

.profile-input-field {
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   color: #333333;
   border: 1px solid #a7a7a7;
   padding: 0 8px;
}

.edit-name input {
   width: 446px;
   height: 32px;
   font-size: 24px;
   font-weight: 600;
}

.edit-location input {
   width: 304px;
   height: 32px;
   font-size: 13px;
 }

.edit-website input {
   width: 290px;
   height: 32px;
   font-size: 13px;
}

.edit-about textarea {
   max-width: 630px;
   min-height: 115px;
   border: 1px solid #a7a7a7;
   padding: 8px;
   width: 100%;
   // color: #333333;
   font: 13px/1.461 'Helvetica Neue',Helvetica,sans-serif;
}

.edit-focus input:focus,
.edit-focus textarea:focus {
   outline: none;
   border-color: #50a1e6;
   box-shadow: 0 0 5px #b4d7f9;
}

.edit-submit {
   margin: 28px 0 24px 0;
}

.edit-submit-btn {
   border: none;
   background: none;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: 600;
   color: #fff;
   background-color: rgb(0,161,198);
   padding: 8px 20px;
   border-radius: 5px;
   text-decoration: none;
   cursor: pointer;
   margin-right: 4px;
}

.edit-submit-btn:hover {
   text-decoration: underline;
}

.edit-cancel-btn {
   border: none;
   background: none;
   text-transform: uppercase;
   font-size: 13px;
   font-weight: bold;
   color: rgb(0,161,198);
   padding: 1px 7px 2px;
   text-decoration: none;
   cursor: pointer;
}

.edit-cancel-btn:hover {
   text-decoration: underline;
}

.edit-cancel-btn:focus {
   outline: -webkit-focus-ring-color auto 5px;
}